@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: black
}

@layer utilities {
  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }



  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translatex(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}


/* Apply to your carousel image divs */
.transition-opacity {
  /* ... existing styles ... */
  will-change: opacity, transform;
  /* Hint to the browser */
  transform: translateZ(0);
  /* Force hardware acceleration */
  -webkit-backface-visibility: hidden;
  /* For Safari/Webkit */
  backface-visibility: hidden;
  /* For other browsers */
}

/* animatedText.css */

@keyframes gradientPulse {

  0%,
  100% {
    background-position: 0% 50%;
    transform: scale(1);
    opacity: 1;
  }

  50% {
    background-position: 100% 50%;
    transform: scale(1.05);
    opacity: 0.9;
  }
}

.gradient-pulse-text {
  background: linear-gradient(270deg, #BEA429, #FFFFFF, #0000FF);
  /* gold -> white -> blue */
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientPulse 6s ease-in-out infinite;
}